In [148]:
#!/bin/python3

import os
import sys
def prime(num):
    if num > 5:
        for i in range(2, num//2):
            if (num % i) == 0:
                return 0 
                break 
    if num==1 or num==4:
        return 0 
    elif num==2 or num==3 or num==5:
        return 1 
    else:
        return 1
def lucky(i):
    sume=0 
    sqr=0 
    while(i>0):
        x=i%10
        i=i//10
        sume=x+sume 
        sqr=(x*x)+sqr 
    return sume,sqr 
def luckyNumbers(a, b):
    count=0 
    for i in range(a,b+1):
        m,n=lucky(i) 
        out1,out2=prime(m),prime(n)
        if out1==1 and out2==1:
            count+=1 
    return count

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    t = int(input())

    for t_itr in range(t):
        ab = input().split()

        a = int(ab[0])

        b = int(ab[1])

        result = luckyNumbers(a, b)

        fptr.write(str(result) + '\n')

    fptr.close()

In [4]:
name="python"

In [5]:
print(name,'PS',23,name='C')

TypeError: 'name' is an invalid keyword argument for print()

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
print(name,"PS",23,sep='\n ')

python
 PS
 23

### difference between sep and end
- sep --> the values of print will separate with value in sep
- end --> how to end the print output
### Run multiple print statement with different values for end and sep

In [40]:
print(name)
print("PS")
# print(name=rakesh) # it will not assignment the value name to rakesh in print statement
print(name,"is""rakesh")
print(name,"rakesh good boy",sep=' is ')

python
PS
python israkesh
python is rakesh good boy

In [45]:
print(34,67,sep='f')
print(87,72,end=' ',sep='s')
print("hello",sep='t')

34f67
87s72 hello

### Datatypes : (all are class )
- str
- int
- float
- Bool

In [48]:
type('sr')

str

In [51]:
# help(str)

In [52]:
sq = 'single quote'
dq = "double quote"
tq = '''triple quote'''
print(sq)
print(dq)
print(tq)

single quote
double quote
triple quote

In [63]:
a="I don't want to learn python"
a='I don\'t want to learn python'
# a='I don't want to learn python' ==>ERROR
a='"i want to learn python"'
print(a)

"i want to learn python"

In [85]:
# \"  ==> Escape sequence
b = 'I am a "Python Developer"'
c = "I am a \"Python Developer\""
d = '''I am a "Python Developer"'''
print(b,end=" ")
print(c,end=" ")
print(d)
print(b,c,d,sep="\n")

I am a "Python Developer" I am a "Python Developer" I am a "Python Developer"
I am a "Python Developer"
I am a "Python Developer"
I am a "Python Developer"

In [86]:
s5 = '67'
s6 = 'sr'
s7 = 'True'
print(type(s5),type(s6),type(s7))

<class 'str'> <class 'str'> <class 'str'>

In [88]:
i = 67
type(i)

int

In [89]:
j = 12.9
type(j)

float

In [90]:
b = "true"
print(type(b),b)

<class 'str'> true

In [92]:
b = True
c = False
print(type(b),b)
print(type(c),c)

<class 'bool'> True
<class 'bool'> False

### Operators
- +
- -
- *
- /
- %
- **

- check all the operations with operands of same datatypes
- check all the operations with mixed operands
- Observe the ouputs and errors
- Note down the outputs with special values

In [98]:
a=1
b=2
c=a+b
d=a-b
e=a*b
f=a%b
g = a**b
print(c,d,e,f,g,end='')

3 -1 2 1 1

In [107]:
a='rakesh '
b='reddy'
c=a+b
print(c)
# d=a-b ERROR
# e=a*b ERROR
# f=a%b ERROR
# g = a**b ERROR

rakesh reddy

In [116]:
a = True
b = False
c = a+b
print(c)
d = a*b
print(d)
e = a-b
print(e)
f = b/a
print(f)
# g = a/b

1
0
1
0.0

In [121]:
a= 12
b="23"
# c=a+b
# d=a-b
e=a*b
# f=a%b
# g = a**b
print(e)

232323232323232323232323

In [125]:
a=12.2
b="sr"
# c=a*b
print(c)

1

In [128]:
print(int(93.4))
print(str(True))
print(str(56))
print(bool(True))
print(int(True))

93
True
56
True
1

In [132]:
# repeat the above cell for all the conditions
i = int(input("Enter a integer:"))
print(i,type(i))
f = float(input("enter a float number :"))
print(f,type(f))
b = bool(type("enter a boolean number :"))
print(b,type(b))

Enter a integer:12
12 <class 'int'>
enter a float number :12.5
12.5 <class 'float'>
True <class 'bool'>

In [145]:
bool(0),bool(-1),bool(3),bool('0'),bool(' ')

(False, True, True, True, True)

In [140]:
bool('a'),bool(23.4),bool(),bool([]),bool([0,0,0])

(True, True, False, False, True)

from stdin
- read no of items purchased as integer
- read item price as float
- read the amount given by the customer as float
- calculate the total amount as float
- print the two outputs in the below format
<pre>Total amount should paid by customer is : $Amount
- Amount given by customer : Amount
- change we should give to the customer : $Total Amount
- Amount given by customer : Amount
- Change we should give to the customer : $change

In [152]:
n = int(input())
i = float(input())
amount =float(input())
totalAmount = n*i
change = amount -totalAmount
print("Total amount should paid by customer is :",totalAmount)
print("Amount given by custoner : ",amount)
print("Change we should give to the customer :",change)

5
10.5
100
Total amount should paid by customer is : 52.5
Amount given by custoner :  100.0
Change we should give to the customer : 47.5

comparison operators
- ==
- >
- !=
- <=
- >=

logical operators
- &
- |
- ^
- and 
- or

In [164]:
a="rakesh"
b="rak"
print(a==b)
print(a>b)
# print(a^b)
print(a<=b)
print(a>=b)

False
True
False
True

In [ ]:
2 -  10
3 -  11
or - 01
and - 10

In [177]:
a=12
b=10
print(a==b)
print(a>b)
print(a^b)
print(a<=b)
print(a>=b)
print(10^10)
print(600|40)
print(~2)

False
True
6
False
True
0
632
-3

In [183]:
print(2 and 3)
print(2 or 3)
print(not 2)
print(20 and 2) 
print(5==5 and 5==4)
print(5 and 2)
print(5==5 and 7*7)
print(5==6 and 7*7)

3
2
False
2
False
2
49
False

In [184]:
print(2 or 3)
print(2 or 8)
print(not 2)
print(20 or 2) 
print(5==5 or 5==4)
print(5 or 2)
print(5==5 or 7*7)
print(5==6 or 7*7)

2
2
False
20
True
5
True
49

In [215]:
print("python">"c")
print("p">"cy")
print("a"<"A")
print("AB"<"ab")
print("dy">"czjgg")
print("x">"d")
print("pyd">"pyc")

True
True
False
True
True
True
True

In [216]:
# ord('cy')

In [217]:
print(not(-10))

False

In [223]:
print(not(10))
print(not(0))
print(not(-90.56))
print(not(410))

False
True
False
False

### conditional statement
- if
- elif
- else
- if elif else

In [ ]:
if condition:
    statement1
    statement2
    statement3

In [232]:
# check whether the given number is an int or not
n = input()
if n.isnumeric():
    print("int",n)

45
int 45

In [ ]:
# check whether the given number is even or odd
s = int()

In [234]:
x=45
isinstance(x,float)
print(isinstance(x,int))
print(isinstance(x,str))

True
False

In [235]:
try:
    s =input()
    print(int(s))
except:
    pass

12
12

In [236]:
"67.68".isnumeric()

False

In [249]:
# check whether unit digit is multiple of 3 or not 
# if it is multiple print True
# else print True
n = input()
if (int(n[-1])%3)==0:
    print("True")
else:
    print("False")

3895
False

In [251]:
n=int(input())
n=n%10
if (n%3)==0:
    print("True")
else:
    print("False")

6598
False

In [252]:
if -32:
    print(True)
else:
    print(False)

True

In [253]:
if -20:
    print(True)
else:
    print(False)

True

In [255]:
n=6
if n:
    print(True)
else:
    print(False)

True

In [256]:
if "":
    print(True)
else:
    print(False)

False

In [258]:
if "rakesh":
    print(True)
else:
    print(False)

True

In [260]:
if 6=='6':
    print(True)

In [271]:
# check whether the name starts with s or not
# if it is starting with s.Count the no of characters 
# in the string and check whether it is equal to five or not
# if it is equal to five return True else return False.
n = input()
if n[0]=='s': #s[0].lower()
    if len(n)==5:
        print(True)
    else:
        print(False)
else:
    print(False)

strin
True

In [273]:
n=input()
if (n[0].lower()=='s') and len(n)==5:
    print(True)
else:
    print(False)

strig
True